### Task 3: Python
Task: Use rawdata as input and derive
1. Datewise total duration for each inside and outside.
2. Datewise number of picking and placing activity done.
- Sample output shared in output sheet.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import sklearn

In [2]:
data=pd.read_excel('/home/ganesh/Projects/ResoluteAI/Data/rawdata.xlsx')
data

          date      time  sensor location  number activity position location.1
0   2024-01-16  10:10:30     0.0       A1       1   placed   inside         A1
1   2024-01-16  10:12:30     1.0       A2       1   picked   inside         A2
2   2024-01-16  10:28:30     1.0       A3       1   picked   Inside         A3
3   2024-01-16  10:38:20     0.0       A4       1   placed   Inside         A4
4   2024-01-16  10:45:20     1.0       A5       1   placed   inside         A5
..         ...       ...     ...      ...     ...      ...      ...        ...
170 2024-01-18  12:45:05     0.0       A8       2   placed   inside         A8
171 2024-01-18  12:53:10     1.0       A9       2   picked   inside         A9
172 2024-01-18  12:59:10     1.0      A10       2   placed  outside        A10
173 2024-01-18  13:10:20     1.0      A11       2   picked   Inside        A11
174 2024-01-18  13:18:30     0.0      A12       2   placed   inside        A12

[175 rows x 8 columns]

In [3]:
data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d')

In [4]:
dat=(pd.crosstab(data['date'].dt.to_period('d').dt.to_timestamp(),data['activity'])
     .asfreq('d',fill_value=0).to_period('d'))

In [5]:
dat

activity    picked  placed
date
2024-01-16      40      40
2024-01-17      10       9
2024-01-18      37      39